<!-- Google tag (gtag.js) knyta till rätt property -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6B5VXCJKJV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6B5VXCJKJV');
</script>



<script>
function sendReadEvent(timeRead, articleName) {
    gtag('event', 'read_article', {
        "article_name": articleName,
        "time_read": timeRead,
    });
}

document.addEventListener("DOMContentLoaded", () => {

    const articleRead1Button = document.getElementById("article_read_1");

    if (articleRead1Button) {
        // Skickar event vid klick på artikel 1
        articleRead1Button.addEventListener("click", () => {
            sendReadEvent("Article 1", 5)
        });

        // Skickar event vid klick på artikel 2
        document.getElementById("article_read_2").addEventListener("click", () => {
            sendReadEvent("Article 2", 11)
        });

        // Skickar event vid klick på artikel 3
        document.getElementById("article_read_3").addEventListener("click", () => {
            sendReadEvent("Article 3", 16)
        });
    }

});
  
 console.log("ver_2")
</script>



