
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P8CLDQ9');</script>
<!-- End Google Tag Manager -->


<!-- Google tag (gtag.js) knyta till rätt property -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6B5VXCJKJV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6B5VXCJKJV');
</script>



<script>
function sendReadEvent(title, numberOfCharacters, author) {
    gtag('event', 'read_article', {
        "author": author,
        "title": title,
        "number_of_characters": numberOfCharacters,
    });
}

document.addEventListener("DOMContentLoaded", () => {

    const readArticle1Button = document.getElementById("read-article-1");

    if (readArticle1Button) {
        // Skickar event vid klick på artikel 1
        readArticle1Button.addEventListener("click", () => {
            sendReadEvent("Article 1", 50,"Sellam")
        });

        // Skickar event vid klick på artikel 2
        document.getElementById("read-article-2").addEventListener("click", () => {
            sendReadEvent("Article 2", 100,"Neda")
        });

        // Skickar event vid klick på artikel 3
        document.getElementById("read-article-3").addEventListener("click", () => {
            sendReadEvent("Article 3", 150,"Berket")
        });
    }

});
  
 console.log("2023-5")
</script>



