<!-- Google tag (gtag.js) knyta till rätt property -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6B5VXCJKJV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6B5VXCJKJV');
</script>



<script>
function sendReadEvent(title, numberOfCharacters) {
    gtag('event', 'read_article', {
        "author": "Ililta ",
        "title": title,
        "number_of_characters": numberOfCharacters,
    });
}

document.addEventListener("DOMContentLoaded", () => {

    const readArticle1Button = document.getElementById("read-article-1");

    if (readArticle1Button) {
        // Skickar event vid klick på artikel 1
        readArticle1Button.addEventListener("click", () => {
            sendReadEvent("Article 1", 50)
        });

        // Skickar event vid klick på artikel 2
        document.getElementById("read-article-2").addEventListener("click", () => {
            sendReadEvent("Article 2", 100)
        });

        // Skickar event vid klick på artikel 3
        document.getElementById("read-article-3").addEventListener("click", () => {
            sendReadEvent("Article 3", 150)
        });
    }

});
  
 console.log("2023-01-23 3")
</script>

